body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9feb2e;
}

img {
    margin-top: 20px;
}


footer {
    font-family: helvetica;
    color: red;
}